.header-layout{
    inset-block-start: 1rem;
    position: sticky;
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: 1440px;
    z-index: 11;
    padding-inline: 1.5rem;
    min-block-size: calc(6.74px, 1vh * 100);
    transition: padding-inline-start .2s ease-in-out;
    will-change: padding-inline-start;
}

.nav-blur::after{
    position: absolute;
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-repeat: repeat;
    block-size: calc(64px + 1.5rem);
    content: "";
    inset-block-start: -1rem;
    inset-inline-end: 0;
    inset-inline-start: 0;
    -webkit-mask: linear-gradient(black,black 18%,transparent 100%);
    mask: linear-gradient(black,black 18%,transparent 100%);
}
.navbar-container{
    block-size: 64px;
    backdrop-filter: blur(6px);
    background-color: rgb(255,255,255,.9);
}
.search-icon{
    /* border-color: rgba(47,43,61,0.16); */
    border-style: solid;
    border-width: 0;
    height: 38px;
    margin-right: 1rem;
    background-color: #fff;
}
.shortkey{
    border: thin solid rgba(47,43,61,0.16);
    border-radius: 6px;
    block-size: 1.5625rem;
    line-height: 1.3125rem;
    padding-block: 0.125rem;
    padding-inline: 0.25rem;
}
.background-style{
    backdrop-filter: blur(6px);
    background-color: rgb(255,255,255,.9);
    border-radius: 6px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 0 2px 6px rgba(47,43,61,.14),0 0 transparent,0 0 transparent;
}
.nav-icons{
    border: none;
    outline: none;
    margin: 0 .7rem;
    background-color: #fff;
}
.nav-icons svg{
    width: 26px;
    height: 26px;
    font-size: 26px;
}
.avatar-img{
    width: 38px;
    height: 38px;
}
.avatar-img img{
    width: 100%;
    border-radius: 1.2rem;
}